<h1>Restaurants</h1>



  <tbody>
    <% @restaurants.each do |restaurant| %>
      <ul>
        <li><%= link_to restaurant.name, restaurants_path(restaurant.id) %></li>
        <li><%= restaurant.address %></li>
        <li><%= restaurant.rating %></li>
      </ul>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant', new_restaurant_path, class: "btn btn-primary" %>
